@use '../theme' as *;

ul.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 5px;

  li + li:before {
    content: '|';
    margin: 0 10px;
  }
}
