@use '../theme' as *;

.page {
  // width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 10px;
  background-color: $color-bg1-light;

  display: flex;
  justify-content: center;

  color: $color-bg2-dark;

  @media (min-width: 641px) {
    width: 640px;
    margin: 0 auto;

    border-left: 4px solid $color-bg1-dark;
    border-right: 4px solid $color-bg1-dark;
    padding-left: 40px;
    padding-right: 20px;
  }

  h1 {
    font-size: 20px;
    margin: 4px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color-main;
  }

  h2 {
    font-size: 18px;
    color: $color-main;
  }

  ol {
    padding-left: 24px;
  }

  li {
    text-align: left;
    padding-left: 4px;
  }
}
