@use 'theme' as *;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  background-color: $color-bg1;
}

.appContainer {
  display: flex;
  flex-direction: row;
}

.appContainer.sideBySide {
  justify-content: space-between;
}

button.action {
  border: 6px solid #9f9121;
  border-radius: 0;
  background: #c8c37b;
  color: #4d3b12;
  font-family: 'VT323', monospace;
  font-size: 18px;
}

a {
  color: $color-bg1-dark;

  &:hover {
    color: $color-bg1;
  }
}
