@use 'theme' as *;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  background-color: $color-bg1;
}

.appContainer {
  display: flex;
  flex-direction: row;
}

.appContainer.sideBySide {
  justify-content: space-between;
}

a {
  color: $color-bg1-dark;

  &:hover {
    color: $color-bg1;
  }
}
